<footer>
  <div class="container footer-group">
    <p class="footer-about">
      Block Blitz a project created by Kelsey Cooper, Catherine Hrynuik, Reid Naaykens, and Mark Zsombor for Light House Labs Final Project.
    </p>
    <div class="footer-logo">
      <a href="/">Block Blitz</a>
    </div>
  </div>
</footer>