<footer>
  <div class="container footer-group">
    <p class="footer-about">
      Block Blitz a project created by Kelsey Cooper, Catherine Hrynuik, Reid Naaykens, and Mark Zsombor for Lighthouse Labs Final Project.
    </p>
    <div class="footer-logo">
        <a href="/"><img src="../../public/images/logo-small.svg" alt="Block Blitz Logo" width="40"></a>
    </div>
  </div>
</footer>