<header>
  <script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '2454871588072282',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.11'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="container header-group">
    <div class="logo">
      <a href="/"><img src="../../public/images/blockblitzlogo.svg" alt="Block Blitz Logo"></a>
    </div>

    <nav class="header-nav">
      <a href="javascript:void(0);" class="icon" id="hamburger">
        <span class="hamburger"></span>
      </a>
      <% if (!user) { %>
        <a href='/register'>Register</a>
        <a href='/login'>Login</a>
      <% } else { %>
        <a class="tutorial-button">How to play</a>
        <!-- <a href='/profile'>Profile</a> -->
        <a class="logout-button" href='/logout'>Logout</a>
      <% } %>
    </nav>
  </div>
</header>
<div class="mobile-menu" id="mobilemenu">
<div class="menu">
  <% if (!user) { %>
    <a href='/register'>Register</a>
    <a href='/login'>Login</a>
  <% } else { %>
    <a class="tutorial-button">How to play</a>
    <!-- <a href='/profile'>Profile</a> -->
    <a class="logout-button" href='/logout'>Logout</a>
  <% } %>
  </div>
</div>
