<header>
  <div class="container header-group">
    <div class="logo">
    Block Blitz
    <!-- need logo -->
    </div>

    <nav class="header-nav">
      <a href='/'>Home</a>
      <!-- <a href='/game'>Game</a> -->
      <% if (!user) { %>
        <a href='/register'>Register</a>
        <a href='/login'>Login</a>
      <% } else { %>
        <a href='/profile'>Profile</a>
        <a class="logout-button" href='/logout'>Logout</a>
      <% } %>
    </nav>

  </div>
</header>