<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="../public/styles/puzzle.css">

</head>
<body>
  <% include ./partials/_header.ejs %>
  <header>
    <h1>Block Blitz</h1>
  </header>



<!-- Some buttons to make a game -->
    <div class="game-buttons">
      <button id="join-game">Join a game</button>
      <button id="leave-queue">Leave Queue</button>
    </div>

<!-- a default explaination of how to play -->
    <div class="how-to-play">
      How to play - link?
    </div>


<!-- Loaded puzzle -->

    <% include ./partials/_puzzle.ejs %>


</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="../public/scripts/renamemelater.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src='https://unpkg.com/packery@2/dist/packery.pkgd.js'></script>
<script src='https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.js'></script>
<script src="../public/scripts/app.js"></script>
<!-- <script src="../../public/scripts/puzzle-logic.js"></script>
 -->
</html>
