<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head.ejs %>
  <title>Block Blitz</title>

</head>
<body>
  <div class="wrapper">
    <% include ./partials/_header.ejs %>
    <main class='content'>
      <!-- This div will be show when how to play is clicked -->
      <div class='tutorial is-waiting'>
        <p>Drag and drop the pieces to complete the puzzle.</p>
        <button class="close">Close</button>
      </div>

      <!-- This div will be hidden when game is started -->
      <div class="non-game">
      <!-- Some buttons to make a game -->
      <div class="board-container">
        <div class="left-board">
        <!-- game intro -->
          <% if(!user) { %>
            <p class="intro"><span class="bb">Block blitz</span> is a puzzle game allowing you to play competitively or solo. </p>
            <p class="intro">Simply click and drag a piece into position. </p>
            <p class="intro">Finish the puzzle before your opponent to climb the leaderboard.</p>
            <p class="login-message">Please <a href="/login">login</a> or <a href="register">register</a> to play competitively!!</p>
          <% } else  { %>

            <!-- User Stats -->
            <div class='user-stats'></div>

            <!-- Leaderboard -->
            <div class="leaderboard">
              <h2>Leaderboard</h2>
              <div class="leaderboard-list"></div>
            </div>

            <!-- List of online players -->
            <div class="user-list">
              <h2>Online Users</h2>
              <div class="online-players">
              </div>
            </div>

          <% } %>
        </div>
        <div class="right-board">
          <div class="game-buttons">
            <button id="play-solo" class="button">Play Solo</button>
          <% if(user) { %>
            <button id="make-game" class="button">Make a game</button>
            <button id="join-queue" class="button">Join Queue</button>
            <button id="leave-queue" class="button no-display">Leave Queue</button>
            <% } %>

          </div>
         <!-- List of available games -->
        <% if(user) { %>
        <div class="game-list">
          <h2>Available Games</h2>
          <div class="games-opened"></div>
        </div>


        <% } else { %>
          <div class="how-to-play">
            <video autoplay="autoplay" loop="loop" width="400" height="500">
              <source src="../public/images/block-blitz-demo.mp4" type="video/mp4" />
            </video>
          </div>
        <% } %>
        </div>
        </div>
      </div>

      <!-- Loaded puzzle -->
      <div class="game">
          <% include ./partials/_puzzle.ejs %>
      </div>
    </main>
      <% include ./partials/_footer.ejs %>
  </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="../public/scripts/functionality.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src='https://unpkg.com/packery@2/dist/packery.pkgd.js'></script>
<script src='https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.js'></script>
<script src="../public/scripts/puzzle.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script src="../public/scripts/carousel.js"></script>
<script src="../public/scripts/helper.js"></script>
<script src="../public/scripts/app.js"></script>


</html>
