<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head.ejs %>
  <title>Block Blitz</title>
</head>
<body>

  <% include ./partials/_header.ejs %>
<main class='content'>
<!-- This div will be show when how to play is clicked -->
<div class='tutorial dialog is-waiting'>
  <p>Drag and drop the pieces around to complete the puzzle.</p>
</div>
<!-- This div will be hidden when game is started -->
<div class="non-game">
<!-- Some buttons to make a game -->
    <div class="game-buttons">
  <% if(user) { %>
      <button id="make-game" class="button">Make a game</button>
      <button id="join-game" class="button">Join Queue</button>
      <button id="leave-queue" class="button no-display">Leave Queue</button>
  <% } else { %>
    Please login or register!!
  <% } %>
      <button id="play-solo" class="button">Play Solo</button>
    </div>
<!-- List of available games -->
  <div class="game-list">
    <h2>Available Games</h2>
    <div class="games-opened"></div>
  </div>
<!-- List of online players -->
  <div class="user-list">
    <h2>Online Users</h2>
    <div class="online-players">
    </div>
  </div>
</div>


<!-- Loaded puzzle -->
<div class="game">
    <% include ./partials/_puzzle.ejs %>
</div>

</main>
    <% include ./partials/_footer.ejs %>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="../public/scripts/renamemelater.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src='https://unpkg.com/packery@2/dist/packery.pkgd.js'></script>
<script src='https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.js'></script>
<script src="../public/scripts/app.js"></script>

</html>
