<!doctype html>
<html>
<head>
  <title>Block Blitz Login</title>
  <% include ./partials/_head.ejs %>
</head>
<body>

  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '2454871588072282',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.11'
        });

        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

      function statusChangeCallback(response) {
        if (response.status === 'connected') {
          getUserEmail();

        } else {
          console.log('Not authenticated');
        }
      }

      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }


      function getUserEmail() {
        FB.api('/me?fields=email', function(response) {
          if (response && !response.error) {
            const loginFacebookData = {
              email: response.email
            };

          $.ajax ({
            url: '/login/facebook',
            method: 'POST',
            data: loginFacebookData,
            success: function(msg){
              console.log('I was a succesful call', msg);
              location.replace('/');
            },
            error: function(err) {

              console.log('I was an unsuccesful call');
              FB.logout(function(response) {
                console.log('logging out.');
              });
              location.reload();
            }
          });
          }
        })
      }

  </script>


<% include ./partials/_header.ejs %>

  <div>
    <h1>login page</h1>

    <div class="div-style">
      <% if (errors.length) { %>
        <% errors.forEach((error) => { %>
          <p><%= error %></p>
        <% }) %>
      <% } %>
      <% if (success) { %>
        <p><%= success %></p>
      <% } %>
    <form id="login-form">
      <input id="email" type="email" name="email" placeholder="Email" />
      <input id="password" type="password" name="password" placeholder="Password"/>
      <input type="submit"  className="button" value="Submit" />
    </form>
    </div>
  </div>

  <div class="div-style">
  <% if (facebook_error) { %>

    <p><%= facebook_error %></p>
  <% } %>
    <fb:login-button
      scope="public_profile,email"
      onlogin="checkLoginState();">
    </fb:login-button>

    </div>

  <% include ./partials/_footer.ejs %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
  <script type="text/javascript" src="../public/scripts/renamemelater.js"></script>
  <script type="text/javascript" src="../public/scripts/login.js"></script>
</body>

</html>