<!doctype html>
<html>
<head>
  <title>Your Profile</title>
  <% include ./partials/_head.ejs %>
</head>

<body>
  <% include ./partials/_header.ejs %>
  <header>

    <h1>profile page</h1>
  </header>

 <% include ./partials/_footer.ejs %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
  <script type="text/javascript" src="../public/scripts/renamemelater.js"></script>
</body>

</html>