<!doctype html>
<html>
<head>
  <% include ./partials/_head.ejs %>
  <title>Block Blitz Register</title>
</head>

<body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '2454871588072282',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.11'
        });

        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

      function statusChangeCallback(response) {
        if (response.status === 'connected') {
          getUserEmail();
        } else {
          console.log('Not authenticated');
        }
      }

      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      function getUserEmail() {
        FB.api('/me?fields=email', function(response) {
          if (response && !response.error) {
          const name = $('#facebook-register-name').val();
          registerFacebookData = {
            name: name,
            email: response.email
          };
          console.log(registerFacebookData);

          $.ajax ({
            url: '/register/facebook',
            method: 'POST',
            data: registerFacebookData,
            success: function(msg){
              console.log('I was a succesful call', msg);
              location.replace('/');
            },
            error: function(err) {
              console.log('I was an unsuccesful call');
              FB.logout(function(response) {
                console.log('logging out.');
              });
              location.reload();
            }
          });
        }
      });
    }
  </script>
  <div class="wrapper">
    <% include ./partials/_header.ejs %>
    <div class="vertical-center">
    <div class="register-containment">
        <form id="registerForm">
          <h4>Register an account to play Block Blitz</h4>
          <% if (errors.length) { %>
            <% errors.forEach((error) => { %>
              <div class="error-message">
              <p><%= error %></p>
              </div>
            <% }) %>
          <% } %>
          <input class="input pass" id="name" "type="text" name="name" placeholder="Block Blitz name"/>
          <input class="input pass" id="email" type="email" name="email" placeholder="Email" />
          <input class="input pass" id="password" type="password" name="password" placeholder="Password"/>
          <input type="submit"  class="inputButton" value="Submit" id="register-button"/>
        </form>
        <form id="facebookRegisterForm">
          <h4>Register using Facebook.</h4>
          <% if (facebook_error.length) { %>
            <% facebook_error.forEach((error) => { %>
              <div class="error-message">
                <p><%= error %></p>
              </div>
            <% }) %>
          <% } %>
          <input class="input pass" id="facebook-register-name" "type="text" name="name" style="display: block;"placeholder="Block Blitz name"/>
          <button class="inputButton-facebook" scope="public_profile,email"><img src="../public/images/facebook-icon.svg" width="15"> Register</button>
        </form>
      </div>
    </div>

   <% include ./partials/_footer.ejs %>
 </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
  <script type="text/javascript" src="../public/scripts/functionality.js"></script>
  <script type="text/javascript" src="../public/scripts/register.js"></script>
  <script>
      $(document).ready(function () {
        $('.inputButton-facebook').on('click', function (e) {
          e.preventDefault();
          FB.login(function(response) {
            if (response.authResponse) {
              console.log('auth...');
              //user just authorized your app
              checkLoginState();
            }
          }, {scope: 'email,public_profile', return_scopes: true});
        });
      });
  </script>
</body>

</html>

