* { box-sizing: border-box; }

/* force scroll bar */
html, body {
  height: 100%;
}

html { overflow-y: scroll; }

body {
  font-family: $font-body;
  background-image: url("../public/images/bg.png");
  background-color: $footer-bg-color;
  color: $body-font-color;
  text-align: center;
}

.wrapper {
  width: 100%;
  @media screen and (min-width: $breakpoint-medium-up) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
a {
  text-decoration: none;
  color: $anchor-color;

  &:hover,
  &:focus {
    color: $anchor-color-hover;
  }
}
