* { box-sizing: border-box; }

/* force scroll bar */
html, body {
  height: 100%;
}

html { overflow-y: scroll; }

body {
  font-family: $font-body;
  background: $body-bg-color;
  color: $body-font-color;
  text-align: center;
}

a {
  text-decoration: none;
  color: $anchor-color;

  &:hover,
  &:focus {
    color: $anchor-color-hover;
  }
}
