body {
  font-size: 100%;
}

.button {
  font-family: $font-body;
  color: white;
  background-color: $button-color;
  position: relative;
  height: 50px;
  display: inline-block;
  margin: 30px 10px;
  color: white;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 0 $button-accent-color;
  -moz-box-shadow: 0 5px 0 $button-accent-color;
  box-shadow: 0 5px 0 $button-accent-color;

  &:hover {
    top: 2px;
    background-color: $button-hover-color;
    -webkit-box-shadow: 0 3px 0 $button-accent-color;
    -moz-box-shadow: 0 3px 0 $button-accent-color;
    box-shadow: 0 3px 0 $button-accent-color;
  }
  &:active {
    top: 5px;
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
}

.shuffle-button {
  width: 40%;
}

.join-game-button {
  background-color: $join-game-color;
  border: none;
  border-radius: 10px;
  color: white;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 20px 5px 20px;
  margin-bottom: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 0 $join-game-accent-color;
  -moz-box-shadow: 0 5px 0 $join-game-accent-color;
  box-shadow: 0 5px 0 $join-game-accent-color;

  &:hover {
    top: 2px;
    background-color: $join-game-hover-color;
    -webkit-box-shadow: 0 3px 0 $join-game-accent-color;
    -moz-box-shadow: 0 3px 0 $join-game-accent-color;
    box-shadow: 0 3px 0 $join-game-accent-color;
  }
}

.button-small, #register-button {
  font-size: 1rem;
  padding: 0.3em 0.6em 0.4em;
}

.try-again-button {
  padding: 0 20px;
}

.close-dialog-button {
  padding: 0 20px;
}

#register-button{
  background-color: $button-color;

  &:hover{
    background-color: $button-hover-color;
  }
}

#login-button{
  background-color: $button-color;

  &:hover{
    background-color: $button-hover-color;
  }
}


.carousel .slick-prev:before, .carousel .slick-next:before{
  color:black;
}

.no-display {
  display: none;
}

.game-buttons {
  // padding: $global-padding;
  padding-bottom: $global-padding*0.75;

  .button {
    margin-bottom: $global-padding*0.25;
    min-width: 27%;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .game-buttons {
    // padding: $global-padding;
    padding-bottom: $global-padding*0.75;

    .button {
      margin: 10px;
      min-width: 90%;
    }
  }
}