footer {
  background-color: $footer-bg-color;
  color: $footer-font-color;
  display: flex;
  align-content: center;
  margin-top: auto;
}

.footer-group {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 0;
  height: 70px;
}

.footer-about {
  max-width: 30.5rem;
  font-size: 0.875em;
  color: $white;
  flex: 1;
  padding: 15px 15px;
  margin: 0;
}

@media screen and (max-width: $breakpoint-medium) {
  .footer-group {
    height: auto;
  }
  .footer-about {
    order: 2;
    max-width: 25.5rem;
    text-align: center;
  }
  .footer-logo {
    display: none;
  }
}