footer {
  background-color: $footer-bg-color;
  color: $footer-font-color;
  display: flex;
  align-content: center;
  margin-top: auto;
}

.footer-group {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 0;
  height: 70px;
}

.footer-about {
    max-width: 25.5rem;
    font-size: 0.875em;
    color: white;
    flex: 1;
    padding: 15px 15px;
    margin-bottom: 5px;
}

@media screen and (max-width: $breakpoint-medium) {
  .footer-group {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 0;
    height: auto;
  }
  .footer-about {
    order: 2;
    max-width: 25.5rem;
    font-size: 0.875em;
    color: white;
    // margin-right: $global-margin;
  }
  .footer-logo {
    display: none;
  }
}