header {
  background-color: $header-bg-color;
  color: $header-font-color;
}

.header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  font-size: 1.25rem;

  a {
    color: $header-link-color;
    margin-left: $global-margin;
    display: inline-block;

    &:hover,
    &:focus {
      color: $button-hover-color;
    }

  }
}

.logo {
  font-size: 2.25rem;
}


