header {
  background-color: $header-bg-color;
  color: $header-font-color;
  min-height: 100px;
  display: flex;
  align-content: center;
  position: relative;
  box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.10);
  z-index: 99;
  width: 100%;
  a {
    color: $header-link-color;
  }
  .logo img {
    width: 200px;
  }
}

.header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  padding-top: $global-padding / 2;
  padding-bottom: $global-padding / 2;

}

.logo a {
  display: inline-block;
}
.header-nav {
  font-size: 1.1rem;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;


  a,
  button {
    color: $header-link-color;
    margin-left: $global-margin;
    margin-right: 10px;
    display: inline-block;
    background: none;
    border: none;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $header-link-hover;
      outline: none;
    }

  }
}

@mixin btn($right, $top) {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 0;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 15px;
  background-color: $header-font-color;
  display: block;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $header-font-color;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $header-font-color;
  content: "";
  top: $top;
}

header .icon{
  @include btn(10px, 10px);
  display: none;

  .hamburger {
    @include icon(4px, 28px);

    &:before{
      @include icon-before(4px, 28px, -10px);
      left: 0;
    }

    &:after{
      @include icon-after(4px, 28px, 10px);
      left: 0;
    }
  }

  &.open {
    .hamburger {
      transition-duration: 0.5s;
      background: transparent;

      &:before{
        transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.mobile-menu {
  display: none;
  width: 100%;
  background-color: $header-link-hover;
  height: auto;
  padding: 15px 0;
  box-shadow: inset 0px -5px 5px -2px rgba(0,0,0,0.10);

  a {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 1.2rem;
    color: #fff;
  }
}

@media screen and (min-width: $breakpoint-medium-up) {
  //overides inline styles set by jquery so that mobile menu doesn't show on large screens
  #mobilemenu {
    display: none !important;
  }
  .header-group {
    padding-top: $global-padding;
    padding-bottom: $global-padding;
  }
}

@media screen and (max-width: $breakpoint-hamburger) {
  .header-nav a:not(:first-child) {display: none;}
  .header-nav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

@media screen and (max-width: $breakpoint-small) {
  header {
    min-height: 60px;
    .logo img {
      width: 100px;
    }
    .icon {
      top: 12px;
    }

  }
}