header {
  background-color: $header-bg-color;
  color: $header-font-color;

  a {
    color: $header-link-color;
  }
}

.header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.header-nav {
  font-size: 1.25rem;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  a,
  button {
    color: $header-link-color;
    margin-left: $global-margin;
    margin-right: 0;
    padding: 0;
    display: inline-block;
    background: none;
    border: none;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $button-hover-color;
      outline: none;
    }

  }
}

.logo {
  font-size: 2.25rem;
}


