.available-game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  background: $game-list-bg-color;
  color: $game-list-font-color;
  padding: 0.5em 0.6em;
  margin: 10px 30px;
  border-radius: 10px;
}

.available-game {

  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  p {
    display: inline-block;
    margin: 0.3em 0.6em 0.4em;
  }
}

.player {
  color: $game-list-font-color;
  padding: 0.2em $global-padding;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingame {
  margin-left: 5px;
  background-color: $join-game-color;
  border-radius: 5px;
  font-size: 0.75rem;
  color: white;
  padding: 5px;
}

.tutorial {
  left: 0;
  right: 0;
  margin: auto;
  max-width: 35rem;
}

///logged out styles
.login-message {
  font-size: 1.25em;
  a {
    font-weight: $bold;
  }
}
.close::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.close {
  position: absolute;
  top: -0.65em;
  right: -0.65em;
  background: #fff;
  font-size: 1em;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  //hiding the word close in an accessible way
  color: #fff;
  text-indent: 999em;
  padding: 0;

  &::before {
    line-height: 1;
    text-indent: 0;
    content: 'X';
    color: #000;
    text-transform: uppercase;
    font-weight: $bold;
    position: absolute;
    top: 0.23em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }
}

.leaderboard-entry {
  display: flex;
  justify-content: space-between;
}

.stat {
  display: flex;
  justify-content: space-between;
}

.player {
  display: flex;
  justify-content: space-between;
}

.non-game,
.board-container{
  @media screen and (min-width: $breakpoint-medium-up) {
     display: flex;
     flex-grow: 2;
  }
}

.board-container {
  @media screen and (min-width: $breakpoint-medium-up) {
    justify-content: space-between;
  }

  .left-board {
    background-color: white;
    width: 40%;
    padding: 10px 50px;
    text-align: left;

    hr {
      margin: 20px 0;
      border-bottom: solid 2px $footer-bg-color;
    }

    .leaderboard-entry {
      padding: 0.2em $global-padding;
    }
    .wins {
      padding: 0.2em $global-padding;
    }
    .losses {
      padding: 0.2em $global-padding;
    }
    .winning-percentage {
      padding: 0.2em $global-padding;
    }
    .total-games {
      padding: 0.2em $global-padding;
    }
  }

  .right-board {
    width: 60%;

    .how-to-play {
      height: 520px;
      width: 420px;
      margin: 50px auto 0 auto;
      border: solid 10px white;
    }
  }
}

@media screen and (max-width: $breakpoint-medium) {

.non-game, .board-container{
  height: auto;
}
.board-container {
  display: flex;
  flex-wrap: wrap;

  .left-board {
    background-color: white;
    width: 100%;
    padding: 50px 50px;
    text-align: left;
    order: 2;
    display: block;
  }

  .right-board {
    width: 100%;
    display: block;

    .how-to-play {
      height: 520px;
      width: 420px;
      margin: 50px auto 0 auto;
      border: solid 10px white;
    }
  }
}
}