.available-game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  background: $game-list-bg-color;
  color: $game-list-font-color;
  padding: 0.5em 0.6em;
  margin: 10px 30px;
  border-radius: 10px;
}

.available-game {

  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  p {
    display: inline-block;
    margin: 0.3em 0.6em 0.4em;
  }
}

.player {
  background: $game-list-alt-bg-color;
  color: $game-list-font-color;
  padding: 0.5em $global-padding;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  &:nth-child(odd) {
    background: $game-list-bg-color;
  }
}

.tutorial {
  left: 0;
  right: 0;
  margin: auto;
  max-width: 35rem;
}

///logged out styles
.login-message {
  font-size: 1.25em;
  a {
    font-weight: $bold;
  }
}
.close::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.close {
  position: absolute;
  top: -0.65em;
  right: -0.65em;
  background: #fff;
  font-size: 1em;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  //hiding the word close in an accessible way
  color: #fff;
  text-indent: 999em;
  padding: 0;

  &::before {
    line-height: 1;
    text-indent: 0;
    content: 'X';
    color: #000;
    text-transform: uppercase;
    font-weight: $bold;
    position: absolute;
    top: 0.23em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }
}

.board-container {
  display: flex;
  justify-content: space-between;

  .left-board {
    background-color: white;
    width: 40%;
    height: 700px;
  }

  .right-board {
    width: 60%;
  }
}