.container {
  width: 100%;
  max-width: $container-width;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $global-padding;
  padding-right: $global-padding;
}

.content {
  flex: 1 0 auto;
  position: relative;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $global-padding;
  padding-right: $global-padding;
  min-height: 700px;
}

.privacy-policy{
  max-width: 900px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;

}

.intro-paragraph{
    width: $max-width;
    margin: auto;
    background: rgba(0,0,0,.4);
    padding: $global-padding;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
  }