.container {
  width: 100%;
  max-width: $container-width;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $global-padding;
  padding-right: $global-padding;
}

.content {
  flex: 1 0 auto;
  position: relative;
}
