.register-containment {
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
  background-color: $white;
  max-width: $container-width;
  padding-top:5px;

  @media screen and (min-width: $breakpoint-medium-up) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
  // keeps corners from rounding on ios
  border-radius: 0;
}
.input:focus {
  outline: none;
  border-bottom-color: $primary-color !important;
}
.input:hover {
  border-bottom-color: #dcdcdc;
}
.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $white inset;
}

.error-message {
  background-color: $error-color;
  padding: 3px;
  margin-bottom: 15px;
}

@media screen and (max-width: $breakpoint-small) {
  .vertical-center{
    width: 100%;
    height: calc(100% - 120px);
  }
}