
.game {
  display: none;
  margin-top: 20px;
}

.grid {
  max-width: 400px;
  background: $darkgrey;
  margin: 10px auto;
  min-height: 500px;
  z-index: 2;

  ///Extra comments to be removed before launch. Just want to see what roads we have been down before removing it in case there are bugs later in build before launch.

  @media screen and (max-width: $breakpoint-small) {
    max-width: 300px;
    min-height: 375px;
  }
}
.grid-sizer{
  width: 25%;
  @media screen and (max-width: $breakpoint-small) {
  }
}
.tile {
  float: left;
  width: 25%;
  padding-bottom: 25%;
  background-image: url('public/images/puzzle-pics/picture-1-big.jpg');
  cursor: move;
}

.tile.w2 {
  width: 50%;
}
.tile.h2 {
  padding-bottom: 50%;
}

.tile.bgx1 {
  background-position-x: -100px;
  @media screen and (max-width: $breakpoint-small) {
    background-position-x: -75px;
  }
}
.tile.bgx2 {
  background-position-x: -200px;
  @media screen and (max-width: $breakpoint-small) {
    background-position-x: -150px;
  }
}
.tile.bgx3 {
  background-position-x: -300px;
  @media screen and (max-width: $breakpoint-small) {
    background-position-x: -225px;
  }
}

.tile.bgy1 {
  background-position-y: -100px;
  @media screen and (max-width: $breakpoint-small) {
    background-position-y: -75px;
  }
}
.tile.bgy2 {
  background-position-y: -200px;
  @media screen and (max-width: $breakpoint-small) {
    background-position-y: -150px;
  }
}
.tile.bgy3 {
  background-position-y: -300px;
  @media screen and (max-width: $breakpoint-small) {
    background-position-y: -225px;
  }
}
.tile.bgy4 {
  background-position-y: -400px;
  @media screen and (max-width: $breakpoint-small) {
    background-position-y: -300px;
  }
}

.tile:hover {
  outline: 5px solid $tile-outline-color;
  outline-offset: -5px;
  z-index: 2;
}

.tile.is-dragging,
.tile.is-positioning-post-drag {
  outline: none;
  z-index: 2;
  opacity: 0.8;
}

.packery-drop-placeholder {
  outline: 3px dashed $white;
  outline-offset: -6px;
  transition: transform 0.2s;
}

/* -------- */

.dialog-container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.dialog,
.tutorial {
  position: absolute;
  padding: $global-padding;
  width: 100%;
  background: $darkgrey;
  color: $white;
  border-radius: 20px;
  text-align: center;
  font-size: 28px;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.4);
  z-index: 10;
  transition: opacity 0.2s, transform 0.2s;
  margin-top: 30px;
}

.is-waiting {
  pointer-events: none;
  opacity: 0;
  transform: translateY(100px);
}

.puzzle-button-cont {
  margin-bottom: 20px;
}

.versus{


  width: 400px;
  margin: auto;
  padding: 20px;
  

  .fight{
    font-size:30px;
    font-family: sans-serif;
    font-weight: 700;
    color: black;

    .em{
      font-style: italic;
      font-weight: 700;
      text-transform: lowercase;
      color: $orange;
    }
     @media screen and (max-width: $breakpoint-small) {
      font-size: 15px;
    }
  }

}

.puzzle-complete-button-container {
  display: flex;
  align-items: center;
}