
// Formatting
$container-width: 64rem;
$global-padding: 1.25rem;
$global-margin: 1.25rem;
$max-width: 750px;

// Fonts
$font-body: 'Source Sans Pro', sans-serif;

// Colors
$header-bg-color: #BA1F33;
$footer-bg-color: #BA1F33;
$body-bg-color: #DDD;

$header-font-color: #421820;
$footer-font-color: #FFF;
$body-font-color: #555;

$button-color: #91171F;
$button-click-color: #CD5D67;
$button-hover-color: #410B13;

$header-link-color: #FFF;

$tile-outline-color: hsla(210, 100%, 50%, 0.7);

$game-list-font-color: #eee;
$game-list-bg-color : #777;
$game-list-alt-bg-color: #444;

///breakpoints

$breakpoint-small: 500px;
