
// Formatting
$container-width: 64rem;
$global-padding: 1.25rem;
$global-margin: 1.25rem;
$max-width: 750px;

// Fonts
$font-body: 'Source Sans Pro', sans-serif;
$bold: 600; //use because 700 is really thick

// Colors
$header-bg-color: #fff;
$footer-bg-color: #6e9098;
$body-bg-color: #eee;

$header-font-color: #CD6554;
$footer-font-color: #000;
$body-font-color: #555;

$button-color: #6e9098;
$button-click-color: #CD5D67;
$button-accent-color: #536d73;
$button-hover-color: #5f7d84;
$join-game-color: #cb6456;
$join-game-hover-color: #b0594d;
$join-game-accent-color: #9b4f45;

$anchor-color: #91171F;
$anchor-color-hover: #410B13;
$header-link-color: #000;
$header-link-hover: #CD6554;

$tile-outline-color: hsla(210, 100%, 50%, 0.7);

$game-list-font-color: #000;
$game-list-bg-color : #fff;
$game-list-alt-bg-color: #444;

$facebook-color: #3D5A96;
$facebook-hover: #30466D;
$facebook-accent: #1F2D42;

///breakpoints
$breakpoint-medium: 600px;
$breakpoint-hamburger: 680px;
$breakpoint-small: 500px;
